body{
  font-family: 'Arimo', sans-serif;
  background: #fff;
  margin:0;
  box-sizing: border-box;
  margin-bottom: 100px;
}
body a{
  transition:0.5s all;
  -webkit-transition:0.5s all;
  -moz-transition:0.5s all;
  -o-transition:0.5s all;
  -ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
  margin:0;
}
p{
  margin:0;
}
ul{
  margin:0;
  padding:0;
  list-style-type: none;
}
/************/
.header{
  background:url(../img/banner33.jpg) no-repeat 0px 0px;
  background-size:cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height:720px;
  position:relative;
}
.header a,.header p{  color:#fff;}
#logo-text{
  line-height: 50px;
  font-weight: 800;
}
#logo-text>div>h2{
  padding-top:5px ;
}
/*下拉框*/


/*时尚和创意*/
.hmain{
  text-align: center;
  margin-top: 200px;
}
.hmain>h1{
  color: #fff;
  font-weight: 900;
  margin-bottom: 100px;
  font-size: 50px;
}
/*三张简图*/
.s-img{
  margin-top: 50px;
}
.s-imgs{
  position: relative;
  overflow: hidden;
}
.img-main{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 70%;
  padding: .5em 1em;
  color: #fff;
  transition: top linear .3s;
}
.img-main:hover {
  top: 0;
}
/*产品内容*/
/*文字：畅销、流行、新到货*/
.top-product{
  line-height: 50px;
  font-size: 20px;
  background: #FA558F;
  border: 1px solid transparent;
  border-radius:50%;
  text-align: center;
  margin: 5px;
}
.top-product a{
  color: #fff;
}
.top-product a:hover{
  color: #FA558F;
}
/*产品图*/
.img-product{
  position: relative;
  width: 276px;
  height: 380px;
}
.img1{background-image:url(../img/ab1.jpg);}
.img2{background-image:url(../img/ab2.jpg);}
.img3{background-image:url(../img/ab3.jpg);}
.img4{background-image:url(../img/ab4.jpg);}
.img5{background-image:url(../img/ab5.jpg);}
.img6{background-image:url(../img/ab6.jpg);}
.img01{background-image:url(../img/m1.jpg);}
.img02{background-image:url(../img/m2.jpg);}
.img03{background-image:url(../img/m3.jpg);}
.img04{background-image:url(../img/m4.jpg);}
.img05{background-image:url(../img/m5.jpg);}
.img06{background-image:url(../img/m6.jpg);}
.my-mask{
  display: none;
}
.img-product:hover .my-mask{
  position: absolute;
  top:30%;
  left:30%;
  display: block;
  color: #FA558F;
}
/*产品图片底部信息*/
.message{
  width:276px;
  height:150px;
  background: #EAEAEA;
  padding: 20px ;
}
.message>ul>li{
  margin:5px;
}
.message>ul li:first-child{
  font-size: 20px;
}
.message>ul li:nth-child(2){
  font-size: 25px;
  font-weight: 800;
}
/*footer底部信息*/
.footer{
  background: url(../img/banner2.jpg) no-repeat 0px 0px;
  background-size:cover;
  min-height: 395px;
  margin-top:20px;
  padding-top: 20px;
}
.footer a{color:#fff;}
.footer ul:nth-child(2){
  color: #fff;
  margin-top: 10px;
}
.foot-logo{
  width: 100%;
  height: 60px;
  background: #FA558F;
}
.foot-logo p{
  color:#fff;
  font-size: 20px;
  padding-top:5px;
}
.foot-logo a{font-size: 30px;}
/************login***********************/

.other_header{
  background:url(../img/header3.png) no-repeat 0px 0px;
  min-height:280px;
  background-size:cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position:relative;
}
/*购物车*/
#shopping{
  margin-right:10px;
}
.login{
  position: absolute;
  top:28%;
  background-color: #fff;
  height:430px;
  width:100%;
}
.breadcrumb{
  background-color: #505666
  /*background-image:radial-gradient(10px 50% 50% #aaa);*/
}
.breadcrumb a{
  color: #fff;
}
.login1{
  margin-top:20px;
}
.login1 .form-group:first-child>h2{
  font-weight: 900;
  color: #000;
  padding-bottom: 10px;
}
.login1 ul:last-child li{
  padding-top:5px;
  color: #555555;
}
.login1 ul:last-child li>h2{
  color: #F5A543;
}
.header_text_lg{
  text-align: center;
  color:#fff;
}
.header_text_lg>h1{
  /*margin-top: 100px;*/
  margin-bottom: 20px;
}

/******product*******************/

.container{
  /*background-color: #E8E8E8;*/
  /*position: fixed;*/
}
.container h4.product_h4{
  background-color: #aaaaaa;
  color:#fff;
  padding: 3px;
  margin: 3px;
}
.container ul.list-unstyled li{
  padding-left: 15px;
}
.row .col-xs-4 .message{
  padding: 0;
}
/*分页导航*/
.pages {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.pages a {
  color:#999;
  box-sizing: border-box;
  height: 30px;
  min-width: 30px;
  font-size: 14px;
  display: inline-block;
  border:1px solid #ddd;
  margin: 0 2px;
  padding: 0 6px;
  line-height: 30px;
}
.pages a:hover {
  border-color:#FA558F;
}
.pages a.cur {
  border-color:#FA558F;
  background: #FA558F;
  color: #fff;
}
.pages a.disabled {
  border-color: #ddd;
  color:#ddd;
  cursor: default;
}


/**************car***************************/
#car_container{
  background-color:#f8f8f8 ;
}
.car_content{
  margin-top: 10px;
  margin-bottom: 30px;
}
.car_close{
  position:relative ;
  top: -8px;
  right:-200px;
}
.car_border{
  border-right:1px solid #CBC9C9;
}
/*/    sngle************************************/
#preview_img .bgimg{
  border:1px solid #ddd;
  width:460px;
  height:420px;
  float:left;
  margin-bottom:10px;
  padding-top: 10px;
  text-align:center;
}

#preview-imgfd {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  height: 125px;
  width: 352px;
  position: relative;
}
.img_scroll {
  float: left;
  width: 400px;
  height: 120px;
  margin-left:20px;
  position: relative;
  overflow: hidden;
}
.img_scroll ul {
  position: absolute;
  top: 0;
  left:0;
  height: 120px;
  width: 450px;
}
.img_scroll ul li{
  float: left;
  margin-right: 10px;
  opacity: 0.6;
}
.img_scroll ul li img {
  display: block;
  width: 90px;
  height: 120px;
}
.img_scroll ul li.current {
  opacity: 1;
}
/*****文本信息************/
#detail{padding: 30px 100px;}
#detail>h3{font-weight: 900;}
#detail>p{margin: 15px 0; opacity: 0.5;}
#summary_1 div{font-size:24px;color: #F23B3B;}
#summary_1 div>span{font-size: 16px;margin-right: 10px;}
#summary_1 div>a{font-size: 12px;}
#summary li{margin: 10px 0;}
#summary b{color:#F23B3B}
#summary_4>div h4{margin: 8px;}
#summary_4>div b{opacity: 0.8;}
#summary_6 button{margin: 20px 10px;}
/******产品详情****/
#product_details ul{text-align: center}
#product_details>p{
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 1px solid #e3e3e3;
  background-color: #e3e3e3;
  padding-left: 20px;
  border-radius: 8px;
  margin: 15px 0;
}
/*********注册********************/
/*注册*/
.register {
  width: 500px;
  margin: 60px auto 120px;
}
.register h2 {
  font-weight: lighter;
}
.register h2 span {
  font-size: 20px;
}
.register h2 a {
  float: right;
  color: #f60;
  font-size: 14px;
}
.register ul {
  margin-top: 24px;
  border:1px solid #ddd;
  border-radius: 3px;
  background: #fff;
}
.register ul li {
  position: relative;
  border-bottom: 1px solid #ddd;
  height: 60px;
}
.register ul li:last-child {
  border-bottom: none;
}
.register ul li input {
  display: block;
  width: 100%;
  height: 100%;
  border:none;
  border-radius: 5px;
  padding:0 15px;
  font-size: 15px;
}
.register ul li>span {
  position: absolute;
  width: 20px;
  height: 20px;
  top:20px;
  left:518px;
  background: url(../img/iconlist.png) no-repeat -5px -87px;
  display: none;
}
.register ul li>i {
  position: absolute;
  height: 30px;
  line-height: 30px;
  top:15px;
  left:520px;
  background: #e26058;
  border-radius: 3px;
  color: #fff;
  white-space: nowrap;
  padding: 0 12px;
  font-style: normal;
  font-size: 15px;
  display: none;

}
.register ul li>i:before{
  content: "";
  position: absolute;
  top:11px;
  left:-7px;
  border:4px solid transparent;
  border-right-color:#e26058;

}
.register>p {
  font-size: 14px;
  margin-top: 20px;
}
.register>p>a {
  color: #f60;
}
.register button {
  display: block;
  width: 100%;
  height: 60px;
  background: #F0AD4E;
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
}
.register button:hover {
  background: #EA9B27;
}
.register button.disabled {
  background: #cccccc;
}